{% extends 'layout.html.twig' %}

{% block content %}
    {% include '_header.html.twig' %}
    {% for person in persons if person.age > 18 %}

        <ul>
            <li>{{ person.name }}</li>
        </ul>

    {% endfor %}

{% endblock %}